.cartao-personagens{
    box-shadow: rgb(100, 100, 111, 0.2) 
    0px 7px 29px 0px;
    border-radius: 12px;
    display: none;
}

.cartao-personagens .cartao-topo{
    padding: 30px 40px 0;
}

.cartao-personagens .nome{
    margin-bottom: 6px;
}

.cartao-personagens .tipo{
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.8;
    padding: 3px 12px;
     box-shadow: rgb(100, 100, 111, 0.2) 
    0px 7px 29px 0px;
}

.cartao-personagens .detalhes{
     color: #ffffff;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.cartao-personagens .cartao-imagem{
    width: 600px;
    height: 400px;
}

.cartao-personagens img{
    max-height: 100%;
}

.cartao-personagens .cartao-informacoes{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 70px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-personagens .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-personagens .cartao-informacoes .status,
.cartao-personagens .cartao-informacoes .habilidades{
    padding: 0 10px;
    width: 180px;
}

.cartao-personagens .cartao-informacoes .habilidades ul li,
.cartao-personagens .cartao-informacoes .status ul li{
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-personagens.aberto{
    display: block;
}

.tipo-mago{
    background-color: #6b727a;
}

.tipo-atack{
    background-color: #c29791;
}

.tipo-bestial{
    background-color: #6b727a;
}

.tipo-cavaleiro{
    background-color: brown;
}

.tipo-goto{
    background-color: rgb(57, 44, 47);
}

